* {
  margin: 0px;
  font-family: "Oxygen", sans-serif;
}

main {
  background: linear-gradient(89.73deg, #7b4397 0.26%, #dc2430 99.8%);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.445);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.445);
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
