.tasks-list {
  padding: 10px 20px;
  background: radial-gradient(
    55.2% 55.2% at 53.41% 44.8%,
    rgba(255, 255, 255, 0.48) 0%,
    rgba(255, 255, 255, 0.12) 100%
  );
  color: white;
  border-radius: 15px;
  width: 35vw;
  max-height: 80vh;
  overflow-y: scroll;
  padding-right: 30px;
  animation: slideList 0.3s ease-in-out;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#options h3 {
  margin-right: 10px;
}

select {
  border: 0px;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

@media only screen and (max-width: 679px) {
  .tasks-list {
    width: 80%;
    max-height: 60vh;
  }
}

@keyframes slideList {
  from {
    transform: translateX(60px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
